html, body {
  height: 100%;
  padding-top: 25px;
}

main {
  height: auto;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding: 10px;
  background-color: #555555;
  color: #aaaaaa;
  font-size: 90%;
}

.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.fa {
  margin-right: 1rem;
}

.notes {
  display: block;
}

.top-carouselScreen .item {
  height: 300px;
}

.top-carouselScreen img {
  position: absolute;
  width: 100%;
}

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height: 350px;
  }
}

.top-suggest {
  margin: 50px;
}

.topic-comment {
  background-color: #fffff0;
}
