<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div th:fragment="form">
      <div th:replace="_validate_error_message :: message"></div>
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
        <label for="name" class="col-md-2 control-label">
          名前
          <small class="text-warning notes">（必須・20文字まで）</small>
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control" th:field="*{name}" />
          <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('choiceFeelings')}? 'has-error'">
        <label for="choice" class="col-md-2 control-label">
          選択候補
          <small class="text-warning notes">（必須）</small>
        </label>
        <div class="col-md-10">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr th:each="choice : ${topic.choices}">
                <td th:text="${choice.text}">1/1(月)</td>
                <td>
                  <div class="btn-group btn-group-justified"
                       data-toggle="buttons"
                       th:with="fieldName='choiceFeelings[__${choice.id}__]'">
                    <label class="btn btn-default">
                      <input type="radio" value="NG" th:field="*{__${fieldName}__}" />
                      <i class="fa fa-lg fa-thumbs-o-down text-danger"></i>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" value="Unknown" th:field="*{__${fieldName}__}" />
                      <i class="fa fa-lg fa-minus text-muted"></i>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" value="OK" th:field="*{__${fieldName}__}" />
                      <i class="fa fa-lg fa-thumbs-o-up text-info"></i>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <span class="help-block" th:if="${#fields.hasErrors('choiceFeelings')}" th:errors="*{choiceFeelings}"></span>
        </div>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('comment')}? 'has-error'">
        <label for="comment" class="col-md-2 control-label">
          コメント
          <small class="text-warning notes">（50文字まで）</small>
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control" th:field="*{comment}" />
          <span class="help-block" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
        </div>
      </div>
    </div>
  </body>
</html>
