<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
  <head>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <div class="panel panel-danger errorPagePanel">
          <div class="panel-heading">HTTP 500</div>
          <div class="panel-body text-danger">
            <i class="fa fa-exclamation-triangle"></i>エラーが発生しました
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
