<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
  <head>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <div class="page-header">
          <h2><i class="fa fa-comment-o"></i>トピックの作成</h2>
          <small class="text-muted">トピックをつくって、みんなにきいてみよう！</small>
        </div>
        <form class="form-horizontal" th:action="@{/topics}" th:object="${topicForm}" th:method="post">
          <div class="col-md-12">
            <div th:replace="_validate_error_message :: message"></div>
            <div class="well" th:replace="topics/_topics-form :: topics-form"></div>
            <div class="form-group" th:classappend="${#fields.hasErrors('choiceText')} ? 'has-error'">
              <label for="choiceText" class="col-md-2 control-label">
                選択肢
                <small class="text-warning notes">必須・1000文字・20個まで</small>
              </label>
              <div class="col-md-10">
                <textarea name="choiceText"
                          rows="10"
                          placeholder="選択してもらいたい日時などを入力してください。&#13;&#10;それぞれの候補は改行で区切ります。&#13;&#10;&#13;&#10;例）&#13;&#10;4/1(月) 19:00〜&#13;&#10;4/2(火) 20:00〜&#13;&#10;4/3(水) 21:00〜"
                          class="form-control"
                          th:field="*{choiceText}" ></textarea>
                <span class="help-block" th:if="${#fields.hasErrors('choiceText')}" th:errors="*{choiceText}"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>作成する</button>
                <hr />
                <dl class="small text-info notes">
                  <dt><i class="fa fa-check"></i></dt>
                  <dd>あとからトピックの内容変更や削除をする場合は、現在お使いの端末・ブラウザからのみ可能です。</dd>
                </dl>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
