<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
  <head>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <div class="page-header">
          <h2 th:text="${topic.title}"><i class="fa fa-comment-o"></i>トピックのタイトル</h2>
        </div>
        <div class="well" th:unless="${#strings.isEmpty(topic.contents)}" th:utext="${#h.br(topic.contents)}">
          トピックのコンテンツ
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>選択候補</th>
              <th th:each="voter : ${topic.voters}" th:text="${voter.name}">mtmt</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="choice : ${topic.choices}">
              <td th:text="${choice.text}">1/1(月)</td>
              <th:block th:each="voter : ${topic.voters}">
                <th:block th:each="voterChoice : ${voter.voterChoices}">
                  <th:block th:if="${(voterChoice.choice.id == choice.id)}">
                    <td class="text-center">
                      <div th:if="${#strings.equals(voterChoice.feeling, 'OK')}"><i class="fa fa-lg fa-thumbs-o-up text-info"></i></div>
                      <div th:if="${#strings.equals(voterChoice.feeling, 'NG')}"><i class="fa fa-lg fa-thumbs-o-down text-danger"></i></div>
                      <div th:if="${#strings.equals(voterChoice.feeling, 'Unknown')}"><i class="fa fa-lg fa-minus text-muted"></i></div>
                    </td>
                  </th:block>
                </th:block>
              </th:block>
            </tr>
            <tr>
              <td class="topic-comment text-right"><i class="fa fa-comments-o"></i>コメント</td>
              <td th:each="voter : ${topic.voters}" th:text="${voter.comment}">楽しみにしてます！</td>
            </tr>
          </tbody>
        </table>
        <button data-toggle="modal" data-target="#add-vote-modal" class="btn btn-primary">
          <i class="fa fa-external-link"></i>回答する
        </button>
        <hr />
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-bookmark-o"></i>このトピックのURL</div>
          <div class="panel-body">
            <small class="text-muted notes">URLをみんなに共有しよう！</small>
            <div class="form-group has-feedback">
              <input type="text"
                     readonly="readonly"
                     class="form-control"
                     onclick="this.select();"
                     th:value="${#httpServletRequest.requestURL}" />
              <span class="form-control-feedback"><i class="fa fa-share-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="stackableHorizontal">
          <a class="btn btn-default" th:href="@{/topics/{hash}/edit(hash=${topic.hash})}">
            <i class="fa fa-pencil"></i>このトピックを編集する
          </a>
          <form th:action="@{/topics/{hash}(hash=${topic.hash})}" th:method="delete">
            <button type="submit" class="btn btn-danger" onclick="return confirm('このトピックのすべてのデータが失われます。削除しますか？');">
              <i class="fa fa-trash-o"></i>このトピックを削除する
            </button>
          </form>
        </div>
      </div>
      <div th:replace="topics/_vote-modal-dialog :: dialog"></div>
    </div>
  </body>
</html>
